/*--------------------------------------------------------------------------------------------------------------------------*/
/* button */
/*--------------------------------------------------------------------------------------------------------------------------*/

pre.buttont1{
  text-align: center;
}
div.button1{
  margin-top: auto;
}

.button {
    border-radius: 4px;
    background-color: orange;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 90%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  

  /*--------------------------------------------------------------------------------------------------------------------------*/
  /* button */
  /*--------------------------------------------------------------------------------------------------------------------------*/
  .blue-hov {
    width: 7em;
    position: relative;
    height: 3.0em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 14px;
    font-weight: bold;
  }
  
  .blue-hov::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  
  .blue-hov::before {
    content: "";
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .blue-hov:hover::before, .blue-hov:hover::after {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0)
  }
  
  .blue-hov:hover {
    -webkit-box-shadow: inset 0px 0px 25px #1479EA;
            box-shadow: inset 0px 0px 25px #1479EA;
  }