
element.style {
    width: 3876px;
    transform: translate3d(-2052px, 0px, 0px);
    transition: all 60s ease 0s;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}
.owl-stage {
    transition: all 60s ease 2s;
    transform: translate3d(-2052px, 0px, 0px);
    width: 3876px;
    transform: translate3d(1596px, 0px, 0px);
}