.f_black {
    color: black;
}

.f_grey {
    color: gray;
}

.f_whitesmoke {
    color: whitesmoke;
}

.f_white {
    color: white;
}

.f_breown {
    color: brown;
}

.r_red {
    color: red;
}

.r_pink {
    color: pink;
}