img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    /*  border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */ 

.no_b_top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.no_b_bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;  
}