html {
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 55px;
    font-family: Verdana,sans-serif;
    max-height: 60;
}
.footer {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    filter: brightness(100%);
}