.footer {
    color: whitesmoke;

    background:url(img/Footer/grey_footer-dark.svg);
    background-size: 100% ;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: cover;
}