.box-one {
    max-height: 50;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 100px;
    padding-left: 50px;
}

.box-two {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;



}

.nav-link {
    padding-left: 5px;
    padding-right: 5px;
}

.a-link {
    color: whitesmoke;
    text-decoration: none;
}
.a-link:hover {
    transition: 150ms linear;
    color: grey;
}